language: python
python:
  - "3.6" 
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install pytest-vcr
  - python setup.py install
# command to run tests
script:
  - pytest tests