interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://coastwatch.pfeg.noaa.gov/erddap/info/cwwcNDBCMet/index.json
  response:
    body:
      string: "{\n  \"table\": {\n    \"columnNames\": [\"Row Type\", \"Variable Name\",
        \"Attribute Name\", \"Data Type\", \"Value\"],\n    \"columnTypes\": [\"String\",
        \"String\", \"String\", \"String\", \"String\"],\n    \"rows\": [\n      [\"attribute\",
        \"NC_GLOBAL\", \"cdm_data_type\", \"String\", \"TimeSeries\"],\n      [\"attribute\",
        \"NC_GLOBAL\", \"cdm_timeseries_variables\", \"String\", \"station, longitude,
        latitude\"],\n      [\"attribute\", \"NC_GLOBAL\", \"contributor_name\", \"String\",
        \"NOAA NDBC\"],\n      [\"attribute\", \"NC_GLOBAL\", \"contributor_role\",
        \"String\", \"Source of data.\"],\n      [\"attribute\", \"NC_GLOBAL\", \"Conventions\",
        \"String\",[...]
