interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://coastwatch.pfeg.noaa.gov/erddap/info/erdTAgeomday/index.json
  response:
    body:
      string: "{\n  \"table\": {\n    \"columnNames\": [\"Row Type\", \"Variable Name\",
        \"Attribute Name\", \"Data Type\", \"Value\"],\n    \"columnTypes\": [\"String\",
        \"String\", \"String\", \"String\", \"String\"],\n    \"rows\": [\n      [\"attribute\",
        \"NC_GLOBAL\", \"acknowledgement\", \"String\", \"NOAA NESDIS COASTWATCH,
        NOAA SWFSC ERD\"],\n      [\"attribute\", \"NC_GLOBAL\", \"cdm_data_type\",
        \"String\", \"Grid\"],\n      [\"attribute\", \"NC_GLOBAL\", \"composite\",
        \"String\", \"true\"],\n      [\"attribute\", \"NC_GLOBAL\", \"contributor_name\",
        \"String\", \"Aviso\"],\n      [\"attribute\", \"NC_GLOBAL\", \"contributor_role\",
        \"String\", \"Source of level 2 d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://coastwatch.pfeg.noaa.gov/erddap/griddap/erdTAgeomday.csvp?time%2Caltitude%2Clatitude%2Clongitude
  response:
    body:
      string: 'time (UTC),altitude (m),latitude (degrees_north),longitude (degrees_east)

        1992-10-16T12:00:00Z,0.0,-74.875,0.125

        1992-11-16T00:00:00Z,NaN,-74.625,0.375

        1992-12-16T12:00:00Z,NaN,-74.375,0.625

        1993-01-16T12:00:00Z,NaN,-74.125,0.875

        1993-02-15T00:00:00[...]
