interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://coastwatch.pfeg.noaa.gov/erddap/info/hycom_gom310D/index.json
  response:
    body:
      string: "{\n  \"table\": {\n    \"columnNames\": [\"Row Type\", \"Variable Name\",
        \"Attribute Name\", \"Data Type\", \"Value\"],\n    \"columnTypes\": [\"String\",
        \"String\", \"String\", \"String\", \"String\"],\n    \"rows\": [\n      [\"attribute\",
        \"NC_GLOBAL\", \"cdm_data_type\", \"String\", \"Grid\"],\n      [\"attribute\",
        \"NC_GLOBAL\", \"Conventions\", \"String\", \"COARDS, CF-1.0, ACDD-1.3\"],\n
        \     [\"attribute\", \"NC_GLOBAL\", \"creator_email\", \"String\", \"hycomdata@coaps.fsu.edu\"],\n
        \     [\"attribute\", \"NC_GLOBAL\", \"creator_name\", \"String\", \"Naval
        Research Laboratory\"],\n      [\"attribute\", \"NC_GLOBAL\", \"creator_type\",
        \"String\", \"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://coastwatch.pfeg.noaa.gov/erddap/griddap/hycom_gom310D.csvp?time%2Cdepth%2Clatitude%2Clongitude
  response:
    body:
      string: 'time (UTC),depth (m),latitude (degrees_north),longitude (degrees_east)

        2009-04-02T00:00:00Z,0.0,18.091648,-98.0

        2009-04-03T00:00:00Z,5.0,18.129667,-97.96002

        2009-04-04T00:00:00Z,10.0,18.167677,-97.91998

        2009-04-05T00:00:00Z,15.0,18.205679,-97.880005

        2[...]
